{{#each totaisPorMes}}
  <div class="mesBalancete">
    <h2 class="mesBalanceteTitulo">Mês: {{this.mes}}</h2>
    <div class="campoBalancete">
      {{#each this.registros}}
        <div class="cardBalancete">
          <p><strong>Conta:</strong> {{this.conta}}</p>
          <p><strong>Total Débitos:</strong> {{this.total_debito}}</p>
          <p><strong>Total Créditos:</strong> {{this.total_credito}}</p>
        </div>
      {{/each}}

      <!-- Exibindo o Total de Débitos e Créditos ao final do mês -->
      <div class="totalBalancete">
        <p><strong>Total Débitos:</strong> {{this.totalDebitos}}</p>
        <p><strong>Total Créditos:</strong> {{this.totalCreditos}}</p>
      </div>
    </div>
  </div>
{{/each}}

<script type="module" src="/ESCRIPTS/balancete.js"></script>
